/*-- scss:defaults --*/
$theme-darkblue: #013D49;
$theme-blue: #99D9DD;
$theme-white: #F7F8F9;
$theme-yellow: #F4BA02;

$body-bg: $theme-darkblue;
$body-color: $theme-white;
$link-color: $theme-blue;
$presentation-heading-color: lighten($theme-blue, 15%);


/*-- scss:rules --*/

aside {
  float: right !important;
  margin: 0 1.5%;
}
